@import url("../css/all.min.css");
@import url("../css/bootstrap.min.css");
.color-aqua {
  color: #90e9ff !important;
}

.color-dark-blue {
  color: #283a69 !important;
}

.color-deep-blue {
  color: #0c112f !important;
}

.color-light-blue {
  color: #81adcc !important;
}

.color-lightest-brown {
  color: #c6b1b1 !important;
}

.color-melon,
.color-yellow {
  color: #ffc980 !important;
}

.color-bright-melon {
  color: #ffb77f !important;
}

.color-pink {
  color: #ff7db2 !important;
}

.color-dark-pink {
  color: #ab4166 !important;
}

.color-orange {
  color: #ff764b !important;
}

.color-dark-orange {
  color: #ef8848 !important;
}

.color-brown-orange {
  color: #b35235 !important;
}

.color-salamander {
  color: #ff8f6f !important;
}

a.color-salamander,
.color-salamander a {
  color: #ff8f6f !important;
}
a.color-salamander:hover,
.color-salamander a:hover {
  color: #ffc980 !important;
}

.color-wine {
  color: #9f2850 !important;
}

.bg-dark-purple {
  background-color: #37394f !important;
}

.bg-lightest-gray,
.bg-lightest-grey {
  background-color: #fbfbfb !important;
}

.color-black {
  color: black !important;
}

.color-blue {
  color: #314ae0 !important;
}

.color-dark {
  color: #4f535f !important;
}

.color-dark-purple {
  color: #37394f !important;
}

.color-gray,
.color-grey {
  color: #aaacb0 !important;
}

.color-light-blue {
  color: #81adcc !important;
}

.color-light-gray,
.color-light-grey {
  color: #98a3b5 !important;
}

.color-lightest-gray,
.color-lightest-grey {
  color: #fbfbfb !important;
}

body {
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
}

a {
  color: #ffc980;
  transition: 0.3s;
}
a:hover {
  color: #ff9d7e;
  text-decoration: none;
}

.main-header .nav-item.active a,
.main-header .nav-link.active {
  color: #ffffff;
}

p {
  line-height: 35px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Eina01-Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1, .h1 {
  font-size: 50px;
  line-height: 75px;
  margin-bottom: 15px;
}

h2, .h2 {
  font-size: 38px;
  line-height: 55px;
  margin-bottom: 15px;
}

h3, .h3 {
  font-size: 24px;
  line-height: 29px;
}

h4, .h4 {
  font-size: 18px;
  line-height: 37px;
  margin-bottom: 5px;
}

h5, .h5 {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 5px;
}

h6, .h6 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px;
}

.lead {
  color: #c6b1b1;
}

h1 + .lead, .h1 + .lead {
  line-height: 2.1;
  margin-bottom: 45px;
}

button:focus {
  outline: 0 dotted;
  outline: 0 auto -webkit-focus-ring-color;
}

.dropdown-item:focus, .dropdown-item:hover {
  background-color: rgba(129, 173, 204, 0.1);
}
.dropdown-item.active, .dropdown-item:active {
  color: #4f535f;
  background-color: rgba(129, 173, 204, 0.2);
}

.navbar-nav {
  align-items: center;
}

@media (max-width: 1200px) {
  .navbar-nav {
    align-items: flex-start;
  }
}
/********************************************************************************************

	Eina01-Bold

********************************************************************************************/
@font-face {
  font-family: "Eina01-Bold";
  src: url("../webfonts/eina01-bold.eot");
  src: url("../webfonts/eina01-bold.eot?#iefix") format("embedded-opentype"), url("../webfonts/eina01-bold.woff2") format("woff2"), url("../webfonts/eina01-bold.woff") format("woff"), url("../webfonts/eina01-bold.ttf") format("truetype");
}
/********************************************************************************************

	Poppins
	
********************************************************************************************/
/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../webfonts/poppins-v5-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Regular"), local("Poppins-Regular"), url("../webfonts/poppins-v5-latin-regular.eot?#iefix") format("embedded-opentype"), url("../webfonts/poppins-v5-latin-regular.woff2") format("woff2"), url("../webfonts/poppins-v5-latin-regular.woff") format("woff"), url("../webfonts/poppins-v5-latin-regular.ttf") format("truetype"), url("../webfonts/poppins-v5-latin-regular.svg#Poppins") format("svg");
  /* Legacy iOS */
}
/* poppins-italic - latin */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  src: url("../webfonts/poppins-v5-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Italic"), local("Poppins-Italic"), url("../webfonts/poppins-v5-latin-italic.eot?#iefix") format("embedded-opentype"), url("../webfonts/poppins-v5-latin-italic.woff2") format("woff2"), url("../webfonts/poppins-v5-latin-italic.woff") format("woff"), url("../webfonts/poppins-v5-latin-italic.ttf") format("truetype"), url("../webfonts/poppins-v5-latin-italic.svg#Poppins") format("svg");
  /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../webfonts/poppins-v5-latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url("../webfonts/poppins-v5-latin-600.eot?#iefix") format("embedded-opentype"), url("../webfonts/poppins-v5-latin-600.woff2") format("woff2"), url("../webfonts/poppins-v5-latin-600.woff") format("woff"), url("../webfonts/poppins-v5-latin-600.ttf") format("truetype"), url("../webfonts/poppins-v5-latin-600.svg#Poppins") format("svg");
  /* Legacy iOS */
}
/* poppins-600italic - latin */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 600;
  src: url("../webfonts/poppins-v5-latin-600italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins SemiBold Italic"), local("Poppins-SemiBoldItalic"), url("../webfonts/poppins-v5-latin-600italic.eot?#iefix") format("embedded-opentype"), url("../webfonts/poppins-v5-latin-600italic.woff2") format("woff2"), url("../webfonts/poppins-v5-latin-600italic.woff") format("woff"), url("../webfonts/poppins-v5-latin-600italic.ttf") format("truetype"), url("../webfonts/poppins-v5-latin-600italic.svg#Poppins") format("svg");
  /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../webfonts/poppins-v5-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Bold"), local("Poppins-Bold"), url("../webfonts/poppins-v5-latin-700.eot?#iefix") format("embedded-opentype"), url("../webfonts/poppins-v5-latin-700.woff2") format("woff2"), url("../webfonts/poppins-v5-latin-700.woff") format("woff"), url("../webfonts/poppins-v5-latin-700.ttf") format("truetype"), url("../webfonts/poppins-v5-latin-700.svg#Poppins") format("svg");
  /* Legacy iOS */
}
/* poppins-700italic - latin */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 700;
  src: url("../webfonts/poppins-v5-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"), url("../webfonts/poppins-v5-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../webfonts/poppins-v5-latin-700italic.woff2") format("woff2"), url("../webfonts/poppins-v5-latin-700italic.woff") format("woff"), url("../webfonts/poppins-v5-latin-700italic.ttf") format("truetype"), url("../webfonts/poppins-v5-latin-700italic.svg#Poppins") format("svg");
  /* Legacy iOS */
}
/********************************************************************************************

	Muli

********************************************************************************************/
/* muli-300 - latin */
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 300;
  src: url("../webfonts/muli-v11-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Muli Light"), local("Muli-Light"), url("../webfonts/muli-v11-latin-300.eot?#iefix") format("embedded-opentype"), url("../webfonts/muli-v11-latin-300.woff2") format("woff2"), url("../webfonts/muli-v11-latin-300.woff") format("woff"), url("../webfonts/muli-v11-latin-300.ttf") format("truetype"), url("../webfonts/muli-v11-latin-300.svg#Muli") format("svg");
  /* Legacy iOS */
}
/* muli-300italic - latin */
@font-face {
  font-family: "Muli";
  font-style: italic;
  font-weight: 300;
  src: url("../webfonts/muli-v11-latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local("Muli Light Italic"), local("Muli-LightItalic"), url("../webfonts/muli-v11-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../webfonts/muli-v11-latin-300italic.woff2") format("woff2"), url("../webfonts/muli-v11-latin-300italic.woff") format("woff"), url("../webfonts/muli-v11-latin-300italic.ttf") format("truetype"), url("../webfonts/muli-v11-latin-300italic.svg#Muli") format("svg");
  /* Legacy iOS */
}
/* muli-regular - latin */
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  src: url("../webfonts/muli-v11-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Muli Regular"), local("Muli-Regular"), url("../webfonts/muli-v11-latin-regular.eot?#iefix") format("embedded-opentype"), url("../webfonts/muli-v11-latin-regular.woff2") format("woff2"), url("../webfonts/muli-v11-latin-regular.woff") format("woff"), url("../webfonts/muli-v11-latin-regular.ttf") format("truetype"), url("../webfonts/muli-v11-latin-regular.svg#Muli") format("svg");
  /* Legacy iOS */
}
/* muli-italic - latin */
@font-face {
  font-family: "Muli";
  font-style: italic;
  font-weight: 400;
  src: url("../webfonts/muli-v11-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Muli Italic"), local("Muli-Italic"), url("../webfonts/muli-v11-latin-italic.eot?#iefix") format("embedded-opentype"), url("../webfonts/muli-v11-latin-italic.woff2") format("woff2"), url("../webfonts/muli-v11-latin-italic.woff") format("woff"), url("../webfonts/muli-v11-latin-italic.ttf") format("truetype"), url("../webfonts/muli-v11-latin-italic.svg#Muli") format("svg");
  /* Legacy iOS */
}
/* muli-600 - latin */
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 600;
  src: url("../webfonts/muli-v11-latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Muli SemiBold"), local("Muli-SemiBold"), url("../webfonts/muli-v11-latin-600.eot?#iefix") format("embedded-opentype"), url("../webfonts/muli-v11-latin-600.woff2") format("woff2"), url("../webfonts/muli-v11-latin-600.woff") format("woff"), url("../webfonts/muli-v11-latin-600.ttf") format("truetype"), url("../webfonts/muli-v11-latin-600.svg#Muli") format("svg");
  /* Legacy iOS */
}
/* muli-600italic - latin */
@font-face {
  font-family: "Muli";
  font-style: italic;
  font-weight: 600;
  src: url("../webfonts/muli-v11-latin-600italic.eot");
  /* IE9 Compat Modes */
  src: local("Muli SemiBold Italic"), local("Muli-SemiBoldItalic"), url("../webfonts/muli-v11-latin-600italic.eot?#iefix") format("embedded-opentype"), url("../webfonts/muli-v11-latin-600italic.woff2") format("woff2"), url("../webfonts/muli-v11-latin-600italic.woff") format("woff"), url("../webfonts/muli-v11-latin-600italic.ttf") format("truetype"), url("../webfonts/muli-v11-latin-600italic.svg#Muli") format("svg");
  /* Legacy iOS */
}
/* muli-700 - latin */
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 700;
  src: url("../webfonts/muli-v11-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Muli Bold"), local("Muli-Bold"), url("../webfonts/muli-v11-latin-700.eot?#iefix") format("embedded-opentype"), url("../webfonts/muli-v11-latin-700.woff2") format("woff2"), url("../webfonts/muli-v11-latin-700.woff") format("woff"), url("../webfonts/muli-v11-latin-700.ttf") format("truetype"), url("../webfonts/muli-v11-latin-700.svg#Muli") format("svg");
  /* Legacy iOS */
}
/* muli-700italic - latin */
@font-face {
  font-family: "Muli";
  font-style: italic;
  font-weight: 700;
  src: url("../webfonts/muli-v11-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Muli Bold Italic"), local("Muli-BoldItalic"), url("../webfonts/muli-v11-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../webfonts/muli-v11-latin-700italic.woff2") format("woff2"), url("../webfonts/muli-v11-latin-700italic.woff") format("woff"), url("../webfonts/muli-v11-latin-700italic.ttf") format("truetype"), url("../webfonts/muli-v11-latin-700italic.svg#Muli") format("svg");
  /* Legacy iOS */
}
.color-aqua {
  color: #90e9ff !important;
}

.color-dark-blue {
  color: #283a69 !important;
}

.color-deep-blue {
  color: #0c112f !important;
}

.color-light-blue {
  color: #81adcc !important;
}

.color-lightest-brown {
  color: #c6b1b1 !important;
}

.color-melon,
.color-yellow {
  color: #ffc980 !important;
}

.color-bright-melon {
  color: #ffb77f !important;
}

.color-pink {
  color: #ff7db2 !important;
}

.color-dark-pink {
  color: #ab4166 !important;
}

.color-orange {
  color: #ff764b !important;
}

.color-dark-orange {
  color: #ef8848 !important;
}

.color-brown-orange {
  color: #b35235 !important;
}

.color-salamander {
  color: #ff8f6f !important;
}

a.color-salamander,
.color-salamander a {
  color: #ff8f6f !important;
}
a.color-salamander:hover,
.color-salamander a:hover {
  color: #ffc980 !important;
}

.color-wine {
  color: #9f2850 !important;
}

.bg-dark-purple {
  background-color: #37394f !important;
}

.bg-lightest-gray,
.bg-lightest-grey {
  background-color: #fbfbfb !important;
}

.color-black {
  color: black !important;
}

.color-blue {
  color: #314ae0 !important;
}

.color-dark {
  color: #4f535f !important;
}

.color-dark-purple {
  color: #37394f !important;
}

.color-gray,
.color-grey {
  color: #aaacb0 !important;
}

.color-light-blue {
  color: #81adcc !important;
}

.color-light-gray,
.color-light-grey {
  color: #98a3b5 !important;
}

.color-lightest-gray,
.color-lightest-grey {
  color: #fbfbfb !important;
}

/* Icon Pop */
@-webkit-keyframes icon-animate-pop {
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
@keyframes icon-animate-pop {
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
.icon-animate-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.icon-animate-pop i {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.icon-animate-pop:hover i, .icon-animate-pop:focus i, .icon-animate-pop:active i {
  -webkit-animation-name: icon-animate-pop;
  animation-name: icon-animate-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

.menu-toggler {
  background-color: transparent;
  border-width: 0;
  cursor: pointer;
  padding: 0.25rem 0.25rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.hamburger-box {
  position: relative;
  display: block;
  width: 28px;
  height: 20px;
}
.hamburger-box .hamburger-inner {
  background-color: rgba(174, 174, 174, 0.8);
  top: 50%;
  display: block;
  margin-top: -2px;
  position: absolute;
  width: 24px;
  height: 2px;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 75ms;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform;
}
.hamburger-box .hamburger-inner:after, .hamburger-box .hamburger-inner:before {
  background-color: rgba(174, 174, 174, 0.8);
  content: "";
  display: block;
  position: absolute;
  width: 24px;
  height: 2px;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform;
  border-radius: 1px;
}
.hamburger-box .hamburger-inner:before {
  top: -7px;
  transition: top 75ms ease 0.12s, opacity 75ms ease;
}
.hamburger-box .hamburger-inner:after {
  bottom: -7px;
  transition: bottom 75ms ease 0.12s, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger-box.color-white .hamburger-inner,
.hamburger-box.color-white .hamburger-inner:after,
.hamburger-box.color-white .hamburger-inner:before {
  background-color: #fff;
}
.hamburger-box.color-light-blue .hamburger-inner,
.hamburger-box.color-light-blue .hamburger-inner:after,
.hamburger-box.color-light-blue .hamburger-inner:before {
  background-color: #81adcc;
}

/* FontAwesome 5 Free as content of :before */
.fontawesome-5-as-before-content:before {
  display: block;
  font-size: 1rem;
  font-weight: 900;
  font-family: "Font Awesome 5 Pro";
  vertical-align: -15%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.mb-6, .my-6 {
  margin-bottom: 4rem !important;
}

.mb-7, .my-7 {
  margin-bottom: 5rem !important;
}

.flex-wrap, .d-flex-spaced-3cols, .d-flex-spaced-4cols {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.d-flex-center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.d-flex-start {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}

.d-flex-stretch, .d-flex-spaced-3cols, .d-flex-spaced-4cols {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.list-unstyled, .d-flex-spaced-3cols, .d-flex-spaced-4cols {
  padding-left: 0;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
}

.list-style-comma-after {
  padding-left: 0;
  list-style: none;
}
.list-style-comma-after > li:after {
  content: ",";
  display: inline;
  margin-left: 1px;
}
.list-style-comma-after > li:last-child:after {
  display: none;
}

.d-flex-spaced-4cols > li,
.d-flex-spaced-4cols > div {
  -ms-flex: 0 0 calc(25% - 15px);
  -webkit-box-flex: 0;
  flex: 0 0 calc(25% - 15px);
  max-width: calc(25% - 15px);
  margin-right: 20px;
}
.d-flex-spaced-4cols > li:nth-child(4n),
.d-flex-spaced-4cols > div:nth-child(4n) {
  margin-right: 0;
}
.d-flex-spaced-4cols > li:last-child,
.d-flex-spaced-4cols > div:last-child {
  margin-right: 0;
}

.d-flex-spaced-3cols > li,
.d-flex-spaced-3cols > div {
  -ms-flex: 0 0 calc(33% - 15px);
  -webkit-box-flex: 0;
  flex: 0 0 calc(33% - 15px);
  max-width: calc(33% - 15px);
  margin-right: 20px;
}
.d-flex-spaced-3cols > li:nth-child(3n),
.d-flex-spaced-3cols > div:nth-child(3n) {
  margin-right: 0;
}
.d-flex-spaced-3cols > li:last-child,
.d-flex-spaced-3cols > div:last-child {
  margin-right: 0;
}

.add-data-background {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

@media (min-width: 992px) {
  .d-flex-spaced-4cols > li,
.d-flex-spaced-4cols > div {
    -ms-flex: 0 0 calc(33.3% - 13.2px);
    -webkit-box-flex: 0;
    flex: 0 0 calc(33.3% - 13.3px);
    max-width: calc(33.3% - 13.3px);
  }
  .d-flex-spaced-4cols > li:nth-child(3n),
.d-flex-spaced-4cols > div:nth-child(3n) {
    margin-right: 0;
  }
  .d-flex-spaced-4cols > li:nth-child(4n),
.d-flex-spaced-4cols > div:nth-child(4n) {
    margin-right: 20px;
  }
  .d-flex-spaced-4cols > li:last-child,
.d-flex-spaced-4cols > div:last-child {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .d-flex-spaced-4cols > li,
.d-flex-spaced-4cols > div {
    -ms-flex: 0 0 calc(25% - 15px);
    -webkit-box-flex: 0;
    flex: 0 0 calc(25% - 15px);
    max-width: calc(25% - 15px);
    margin-right: 20px;
  }
  .d-flex-spaced-4cols > li:nth-child(3n),
.d-flex-spaced-4cols > div:nth-child(3n) {
    margin-right: 20px;
  }
  .d-flex-spaced-4cols > li:nth-child(4n),
.d-flex-spaced-4cols > div:nth-child(4n) {
    margin-right: 0;
  }
}
@media (max-width: 991px) {
  .d-flex-spaced-4cols > li,
.d-flex-spaced-4cols > div {
    -ms-flex: 0 0 calc(50% - 10px);
    -webkit-box-flex: 0;
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
  }
  .d-flex-spaced-4cols > li:nth-child(3n),
.d-flex-spaced-4cols > div:nth-child(3n) {
    margin-right: 20px;
  }
  .d-flex-spaced-4cols > li:nth-child(4n),
.d-flex-spaced-4cols > div:nth-child(4n) {
    margin-right: 0;
  }
  .d-flex-spaced-4cols > li:nth-child(odd),
.d-flex-spaced-4cols > div:nth-child(odd) {
    margin-right: 20px;
  }
  .d-flex-spaced-4cols > li:nth-child(even),
.d-flex-spaced-4cols > div:nth-child(even) {
    margin-right: 0;
  }
  .d-flex-spaced-4cols > li:last-child,
.d-flex-spaced-4cols > div:last-child {
    margin-right: 0;
  }

  .d-flex-spaced-3cols > li,
.d-flex-spaced-3cols > div {
    -ms-flex: 0 0 calc(50% - 10px);
    -webkit-box-flex: 0;
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
  }
  .d-flex-spaced-3cols > li:nth-child(3n),
.d-flex-spaced-3cols > div:nth-child(3n) {
    margin-right: 0;
  }
  .d-flex-spaced-3cols > li:nth-child(odd),
.d-flex-spaced-3cols > div:nth-child(odd) {
    margin-right: 20px;
  }
  .d-flex-spaced-3cols > li:nth-child(even),
.d-flex-spaced-3cols > div:nth-child(even) {
    margin-right: 0;
  }
}
@media (max-width: 575px) {
  .d-flex-spaced-4cols > li,
.d-flex-spaced-4cols > div {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .d-flex-spaced-4cols > li:nth-child(3n), .d-flex-spaced-4cols > li:nth-child(4n), .d-flex-spaced-4cols > li:nth-child(odd), .d-flex-spaced-4cols > li:nth-child(even), .d-flex-spaced-4cols > li:last-child,
.d-flex-spaced-4cols > div:nth-child(3n),
.d-flex-spaced-4cols > div:nth-child(4n),
.d-flex-spaced-4cols > div:nth-child(odd),
.d-flex-spaced-4cols > div:nth-child(even),
.d-flex-spaced-4cols > div:last-child {
    margin-right: 0;
  }

  .d-flex-spaced-3cols > li,
.d-flex-spaced-3cols > div {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .d-flex-spaced-3cols > li:nth-child(odd),
.d-flex-spaced-3cols > div:nth-child(odd) {
    margin-right: 0;
  }
}
.color-aqua {
  color: #90e9ff !important;
}

.color-dark-blue {
  color: #283a69 !important;
}

.color-deep-blue {
  color: #0c112f !important;
}

.color-light-blue {
  color: #81adcc !important;
}

.color-lightest-brown {
  color: #c6b1b1 !important;
}

.color-melon,
.color-yellow {
  color: #ffc980 !important;
}

.color-bright-melon {
  color: #ffb77f !important;
}

.color-pink {
  color: #ff7db2 !important;
}

.color-dark-pink {
  color: #ab4166 !important;
}

.color-orange {
  color: #ff764b !important;
}

.color-dark-orange {
  color: #ef8848 !important;
}

.color-brown-orange {
  color: #b35235 !important;
}

.color-salamander {
  color: #ff8f6f !important;
}

a.color-salamander,
.color-salamander a {
  color: #ff8f6f !important;
}
a.color-salamander:hover,
.color-salamander a:hover {
  color: #ffc980 !important;
}

.color-wine {
  color: #9f2850 !important;
}

.bg-dark-purple {
  background-color: #37394f !important;
}

.bg-lightest-gray,
.bg-lightest-grey {
  background-color: #fbfbfb !important;
}

.color-black {
  color: black !important;
}

.color-blue {
  color: #314ae0 !important;
}

.color-dark {
  color: #4f535f !important;
}

.color-dark-purple {
  color: #37394f !important;
}

.color-gray,
.color-grey {
  color: #aaacb0 !important;
}

.color-light-blue {
  color: #81adcc !important;
}

.color-light-gray,
.color-light-grey {
  color: #98a3b5 !important;
}

.color-lightest-gray,
.color-lightest-grey {
  color: #fbfbfb !important;
}

/************************************************************************
	Typography
************************************************************************/
.font-weight-light, .font-weight-300 {
  font-weight: 300;
}

/************************************************************************
	GENERAL STYLES
************************************************************************/
.absolute-right,
.absolute-top-right {
  position: absolute;
  right: 0;
  z-index: 1;
}

.absolute-top-right {
  top: 0;
}

.add-top-bar {
  padding-top: 10px;
  position: relative;
}
.add-top-bar:before {
  background-color: #b35235;
  content: "";
  display: block;
  width: 69px;
  height: 4px;
  border-radius: 5px;
  position: relative;
  top: -10px;
  left: 0;
}

.col .absolute-right,
.col .absolute-top-right {
  right: 15px;
}

.border-top-width-1 {
  border-top-width: 1px !important;
}

.border-right-width-1 {
  border-right-width: 1px !important;
}

.border-left-width-1 {
  border-left-width: 1px !important;
}

.border-bottom-width-1 {
  border-bottom-width: 1px !important;
}

.relative-right {
  position: relative;
  right: 0;
}

.animate-border-width {
  border-bottom: 1px solid rgba(76, 86, 139, 0.9);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
}
.animate-border-width:before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 51%;
  right: 51%;
  bottom: -2px;
  background: #ab4166;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.animate-border-width.active:before {
  left: 0;
  right: 0;
}

.button-wrapper.absolute-left {
  position: absolute;
}
.button-wrapper.absolute-left.negative-left-10 {
  left: -10px;
}
.button-wrapper.absolute-left.negative-left-20 {
  left: -20px;
}
.button-wrapper.absolute-left.negative-left-30 {
  left: -30px;
}
.button-wrapper.absolute-left.negative-left-40 {
  left: -40px;
}
.button-wrapper.absolute-left.negative-left-50 {
  left: -50px;
}

.line-height-0 {
  line-height: 0;
}

.navbar-brand .responsecrm-logo-icon {
  display: inline-block;
  width: 22px;
  height: auto;
  position: relative;
  top: -2px;
}
.navbar-brand .responsecrm-logo {
  display: inline-block;
  width: 181px;
  height: auto;
  margin-left: -1px;
}
.navbar-brand .tagline {
  color: #ef8848;
  display: block;
  font-size: 12px;
  letter-spacing: 0.3px;
  padding-left: 4px;
}

.opacity-1 {
  opacity: 1 !important;
}

.termsheet-logo {
  width: 102px;
  height: auto;
}

.overflow-ellipses {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.avatar-img {
  width: 44px;
  height: auto;
}
.avatar-img.avatar-md {
  width: 88px;
  height: auto;
}

.ul-footer-main-nav {
  font-family: "Eina01-Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
}
.ul-footer-main-nav a {
  color: #fff;
}
.ul-footer-main-nav a:hover {
  color: #81adcc;
}
.ul-footer-main-nav > li {
  margin-left: 5px;
  margin-right: 5px;
}

.ul-secondary-footer-nav {
  color: rgba(129, 173, 204, 0.4);
  font-size: 13px;
  font-weight: 500;
}
.ul-secondary-footer-nav a {
  color: rgba(129, 173, 204, 0.4);
}
.ul-secondary-footer-nav a:hover {
  color: #81adcc;
}
.ul-secondary-footer-nav > li {
  margin-left: 5px;
  margin-right: 5px;
}

.ul-events-list {
  margin-bottom: 0;
}
.ul-events-list > li {
  margin-bottom: 30px;
}

/************************************************************************
	BLOCKS
************************************************************************/
/* General blocks */
.main-header .menu-toggler {
  position: relative;
}
.main-header #mainMenuToggler {
  float: right;
  top: 7px;
}
.main-header .navbar-nav .dropdown-menu {
  color: #4f535f;
  border-radius: 4px;
  border-width: 0;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.3);
  margin: 0;
  min-width: 180px;
  padding: 0.75rem 0;
}
.main-header .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 14px;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
}
.main-header .navbar-nav .dropdown-toggle {
  padding-right: 27px;
}
.main-header .navbar-nav .dropdown-toggle:after {
  display: block;
  margin-left: unset;
  vertical-align: unset;
  content: "";
  border-top: unset;
  border-right: unset;
  border-bottom: unset;
  border-left: unset;
  width: 11px;
  height: 7px;
  background-image: url(../images/caret-down-light-blue.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 11px 7px;
  position: absolute;
  top: 13px;
  right: 5px;
  transition: 0.3s;
}
.main-header .navbar-nav .nav-item.dropdown.show .dropdown-menu {
  opacity: 1;
  top: 2.25rem;
  visibility: visible;
}
.main-header .navbar-nav .nav-item.dropdown.show .dropdown-toggle:after {
  transform: rotate(-90deg);
}
.main-header:before {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: block;
  background-color: rgba(23, 22, 65, 0.9);
  top: 0;
  left: -100%;
  opacity: 0;
  -webkit-transform: scale(0.9) translate3d(0, -50px, 0);
  transform: scale(0.9) translate3d(0, -50px, 0);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s, left 0s 0.5s;
  -webkit-transition: opacity 0.5s, left 0s 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, left 0s 0.5s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, opacity 0.5s, left 0s 0.5s;
  transition: transform 0.5s, opacity 0.5s, left 0s 0.5s;
  transition: transform 0.5s, opacity 0.5s, left 0s 0.5s, -webkit-transform 0.5s;
}
.main-header .dropdown-item {
  font-weight: 300;
}

.feature-image-online-store-visits-block {
  position: relative;
}
.feature-image-online-store-visits-block .feature-image-graph-online-store-visits {
  position: absolute;
  bottom: 57px;
  left: -93px;
  z-index: 2;
}
.feature-image-online-store-visits-block .feature-image-iphone-mock-visit-count {
  position: relative;
  z-index: 1;
}
.feature-image-online-store-visits-block .feature-image-dark-rectangle {
  position: absolute;
  top: 154px;
  right: -45px;
}

.feature-image-analytics-block {
  position: relative;
}
.feature-image-analytics-block .feature-image-graph-visit-and-sales-count {
  position: relative;
  z-index: 1;
}
.feature-image-analytics-block .feature-image-analytics-screenshot {
  position: absolute;
  bottom: 28px;
  right: -370px;
}

.feature-image-block {
  margin-bottom: 20px;
}

.testimonial-block {
  background-color: #0e1136;
  border-radius: 8px;
  padding: 25px 40px 0;
  position: relative;
}
.testimonial-block .testimonial-content {
  color: #90e9ff;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0.4px;
}
.testimonial-block .job-title-wrapper {
  font-weight: 500;
}
.testimonial-block .author-content {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  bottom: -15px;
}
.testimonial-block .author-content .avatar {
  margin-right: 20px;
}
.testimonial-block .author-content .name-wrapper {
  color: rgba(255, 255, 255, 0.8);
}

.white-box {
  background-color: #ffffff;
  color: #000000;
}
.white-box a {
  color: #314ae0;
}
.white-box a:hover {
  color: #81adcc;
}

.blog-item-block {
  font-size: 14px;
}
.blog-item-block p {
  line-height: 30px;
}
.blog-item-block.white-box {
  padding: 45px 40px 40px 40px;
}

.twitter-tweet {
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.twitter-tweet:before {
  background-image: url(../images/bird-blue.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 118px auto;
  content: "";
  width: 118px;
  height: 95px;
  display: block;
  position: absolute;
  top: -42px;
  left: -72px;
}

main > section {
  padding-top: 90px;
  padding-bottom: 90px;
}
main > section.section-webpages-funnels {
  padding-bottom: 70px;
}

.main-footer {
  background-color: #0c112f;
  color: #fff;
  padding: 25px 20px 20px 20px;
}

.main-container {
  padding-top: 10px;
  overflow: hidden;
}

body {
  position: relative;
}
body:before {
  background-color: #1e1e46;
  background: linear-gradient(135deg, #1e1e46 0%, #171641 100%) fixed;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
body .main-container {
  background-image: url(../images/body-bg-50pct.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
  z-index: 1;
}

.twitter {
  max-width: 600px;
  margin: auto;
}

.twitter__text a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.color-aqua {
  color: #90e9ff !important;
}

.color-dark-blue {
  color: #283a69 !important;
}

.color-deep-blue {
  color: #0c112f !important;
}

.color-light-blue {
  color: #81adcc !important;
}

.color-lightest-brown {
  color: #c6b1b1 !important;
}

.color-melon,
.color-yellow {
  color: #ffc980 !important;
}

.color-bright-melon {
  color: #ffb77f !important;
}

.color-pink {
  color: #ff7db2 !important;
}

.color-dark-pink {
  color: #ab4166 !important;
}

.color-orange {
  color: #ff764b !important;
}

.color-dark-orange {
  color: #ef8848 !important;
}

.color-brown-orange {
  color: #b35235 !important;
}

.color-salamander {
  color: #ff8f6f !important;
}

a.color-salamander,
.color-salamander a {
  color: #ff8f6f !important;
}
a.color-salamander:hover,
.color-salamander a:hover {
  color: #ffc980 !important;
}

.color-wine {
  color: #9f2850 !important;
}

.bg-dark-purple {
  background-color: #37394f !important;
}

.bg-lightest-gray,
.bg-lightest-grey {
  background-color: #fbfbfb !important;
}

.color-black {
  color: black !important;
}

.color-blue {
  color: #314ae0 !important;
}

.color-dark {
  color: #4f535f !important;
}

.color-dark-purple {
  color: #37394f !important;
}

.color-gray,
.color-grey {
  color: #aaacb0 !important;
}

.color-light-blue {
  color: #81adcc !important;
}

.color-light-gray,
.color-light-grey {
  color: #98a3b5 !important;
}

.color-lightest-gray,
.color-lightest-grey {
  color: #fbfbfb !important;
}

.btn {
  font-size: 14px;
  text-transform: uppercase;
}
.btn.btn-circle {
  border-radius: 50%;
}
.btn.btn-long {
  min-width: 298px;
}
.btn.btn-primary.btn-icon-only {
  min-width: 32px;
}
.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
}

.btn-group-lg > .btn, .btn-lg {
  padding: 0.8125rem 1rem;
  font-size: 14px;
  border-radius: 4px;
}

.btn-primary {
  color: #fff;
  background-color: #ff764b;
  border-color: #ff764b;
  letter-spacing: 0.9px;
  min-width: 224px;
}
.btn-primary:hover {
  background-color: #ff8d6a;
  border-color: #ff8d6a;
}
.btn-primary.focus, .btn-primary:focus {
  outline: 0;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
}
.btn-primary.btn-dark-pink {
  background-color: #ab4166;
  border-color: #ab4166;
}
.btn-primary.btn-dark-pink:hover {
  background-color: #bc4f75;
  border-color: #bc4f75;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: #ff8d6a;
  border-color: #ff8d6a;
}

.btn-primary.btn-dark-pink:not(:disabled):not(.disabled).active,
.btn-primary.btn-dark-pink:not(:disabled):not(.disabled):active,
.show > .btn-primary.btn-dark-pink.dropdown-toggle {
  background-color: #bc4f75;
  border-color: #bc4f75;
}

.btn-secondary {
  color: #ff764b;
  background-color: #ffffff;
  border-color: #ffffff;
  min-width: 224px;
}
.btn-secondary:hover {
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-secondary.focus, .btn-secondary:focus {
  outline: 0;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  background-color: #ffffff;
  border-color: #ffffff;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(130, 138, 145, 0);
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus,
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
  outline: 0;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
}

.btn-outline-primary {
  color: #ff764b;
  border-color: rgba(255, 118, 75, 0.5);
  min-width: 224px;
}
.btn-outline-primary:hover {
  background-color: transparent;
  border-color: #ff764b;
}

.btn-outline-secondary {
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.5);
  min-width: 224px;
}
.btn-outline-secondary:hover {
  background-color: transparent;
  border-color: white;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show > .btn-outline-secondary.dropdown-toggle {
  background-color: transparent;
  border-color: white;
}

.has-icon > .icon-left {
  margin-right: 8px;
}
.has-icon > .icon-right {
  margin-left: 8px;
}

.buttons-wrapper > .btn {
  margin-left: 8px;
}
.buttons-wrapper > .btn:first-child {
  margin-left: 0;
}
.buttons-wrapper > .btn.btn-lg {
  margin-left: 30px;
}
.buttons-wrapper > .btn.btn-lg:first-child {
  margin-left: 0;
}

.form-control {
  border-color: rgba(76, 86, 139, 0.9);
  color: #ffffff;
  font-size: 15px;
}
.form-control:focus {
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
  border-color: #4c568b;
}

.animate-border-width .form-control {
  background-color: transparent;
  border-radius: 0;
  border-width: 0;
  padding-left: 0;
  padding-right: 0;
}
.animate-border-width .form-control:focus {
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
  color: #ffffff;
}

.form-group {
  margin-bottom: 40px;
}

.form-control::placeholder {
  color: #ffffff;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #ffffff;
}

.form-control::-ms-input-placeholder {
  color: #ffffff;
}

.form-row > .col, .form-row > [class*=col-] {
  padding-right: 15px;
  padding-left: 15px;
}

form label {
  font-size: 13px;
  font-weight: 400;
}
form.form-theme-pink label {
  color: #ff7db2;
}

@media (max-width: 575px) {
  .btn.btn-long {
    min-width: unset;
    width: 100%;
  }

  .buttons-wrapper > .btn.btn-lg {
    margin-left: 15px;
  }
}
@media (max-width: 480px) {
  .btn.btn-long {
    min-width: unset;
    width: 100%;
  }

  .buttons-wrapper > .btn.btn-lg {
    margin-left: 0;
  }
}
.white-box {
  background-color: transparent;
  border: 1px solid #343679;
  border-radius: 3.33px;
  font-size: 16px;
  line-height: 30px;
  font-family: "AvenirMedium", sans-serif;
  color: #b2bddb;
}
.white-box h5 {
  color: #ffffff;
}

@media (min-width: 992px) {
  .testimonial-block {
    padding: 50px 80px 0;
    width: 910px;
  }
}
@media (min-width: 1200px) {
  .main-header .navbar-nav .dropdown-menu {
    position: absolute;
    display: block;
    opacity: 0;
    transition: 0.6s;
    top: 3.5rem;
    visibility: hidden;
  }
  .main-header .navbar-nav > .nav-item {
    margin-left: 32px;
  }
  .main-header .navbar-nav > .nav-item:first-child {
    margin-left: 0;
  }

  .container {
    max-width: 1150px;
  }

  .feature-image-online-store-visits-block {
    margin-top: -190px;
  }

  .feature-image-analytics-block {
    margin-bottom: 70px;
    margin-top: -50px;
  }

  .testimonial-block .author-content .avatar {
    margin-right: 35px;
  }

  .section-webpages-funnels .col-high-converting {
    margin-top: -105px;
  }

  .main-container {
    padding-top: 62px;
  }
}
@media (min-width: 1280px) {
  .ul-footer-main-nav > li {
    margin-left: 15px;
    margin-right: 15px;
  }

  .ul-secondary-footer-nav > li {
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (min-width: 1440px) {
  .ul-footer-main-nav > li {
    margin-left: 25px;
    margin-right: 25px;
  }

  .main-footer {
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
  }

  body {
    /*&:before {
    	width: 1440px;
    }*/
  }
  body.home .section-intro {
    margin-bottom: 100px;
  }
  body .main-container {
    background-size: 1440px auto;
  }
}
@media (max-width: 1199px) {
  .main-header:after {
    background-color: #201b53;
    background: linear-gradient(135deg, #201b53 0%, #1c194f 100%) fixed;
    content: "";
    display: block;
    width: 64%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -120%;
    z-index: 12;
  }
  .main-header:after {
    -webkit-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;
    -webkit-animation-name: slideOutLeft;
    animation-name: slideOutLeft;
  }
  .main-header #mainMenuToggler {
    z-index: 1;
  }
  .main-header .navbar-wrapper {
    -webkit-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;
    -webkit-animation-name: slideOutLeft;
    animation-name: slideOutLeft;
    left: -100%;
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
  }
  .main-header .navbar-wrapper .main-menu {
    width: 100%;
  }
  .main-header .navbar-wrapper .main-menu .navbar-nav {
    width: 100%;
  }
  .main-header .dropdown-menu.static-mobile {
    background-color: rgba(255, 255, 255, 0.075);
    border-width: 0;
    -webkit-box-shadow: 0 0 0 0 rgba(68, 68, 68, 0);
    box-shadow: 0 0 0 0 rgba(68, 68, 68, 0);
    display: block;
    margin-left: 0;
    max-height: 0;
    min-width: unset;
    width: 100%;
    opacity: unset;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    top: 100%;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    visibility: unset;
  }
  .main-header .dropdown-menu.static-mobile .dropdown-item {
    color: #ffffff;
    padding: 0.25rem 1rem;
  }

  .show-main-menu .main-header .hamburger-inner {
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: rotate(45deg);
  }
  .show-main-menu .main-header .hamburger-inner:before {
    top: 0;
    transition: top 75ms ease, opacity 75ms ease 0.12s;
    opacity: 0;
  }
  .show-main-menu .main-header .hamburger-inner:after {
    bottom: 0;
    transition: bottom 75ms ease, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
    transform: rotate(-90deg);
  }
  .show-main-menu .main-header .navbar-brand {
    position: relative;
    z-index: 1002;
  }
  .show-main-menu .main-header .navbar-wrapper {
    -webkit-animation: slideInLeft 1s;
    animation: slideInLeft 1s;
    left: 0;
    top: 0;
    display: block;
    height: auto;
    z-index: 1002;
    left: 10%;
    top: 75px;
  }
  .show-main-menu .main-header #mainMenuToggler {
    z-index: 1002;
  }
  .show-main-menu .main-header:before {
    left: 0;
    opacity: 1;
    z-index: 10;
    -webkit-transform: scale(1) translate3d(0, 0, 0);
    transform: scale(1) translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s, left 0s 0s;
    -webkit-transition: opacity 0.5s, left 0s 0s, -webkit-transform 0.5s;
    transition: opacity 0.5s, left 0s 0s, -webkit-transform 0.5s;
    -o-transition: transform 0.5s, opacity 0.5s, left 0s 0s;
    transition: transform 0.5s, opacity 0.5s, left 0s 0s;
    transition: transform 0.5s, opacity 0.5s, left 0s 0s, -webkit-transform 0.5s;
  }
  .show-main-menu .main-header:after {
    left: 0;
  }

  .dropdown.show > .dropdown-menu.static-mobile.show {
    display: block;
    max-height: 100rem;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: unset;
    top: unset !important;
    visibility: unset;
  }

  .feature-image-analytics-block {
    margin-top: 130px;
    margin-bottom: 100px;
  }
  .feature-image-analytics-block .feature-image-analytics-screenshot {
    bottom: -20%;
    right: -20%;
    width: 70%;
  }
  .feature-image-analytics-block .feature-image-graph-visit-and-sales-count {
    margin-left: 10%;
  }

  .feature-image-web-pages-block .feature-image-web-pages {
    width: 100%;
  }

  main > section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 991px) {
  .show-main-menu .main-header .navbar-wrapper {
    left: 7%;
  }

  .feature-image-analytics-block {
    margin-top: 100px;
  }
  .feature-image-analytics-block .feature-image-graph-visit-and-sales-count {
    width: 400px;
    height: auto;
  }
  .feature-image-analytics-block .feature-image-analytics-screenshot {
    right: -20%;
  }

  .feature-image-web-pages-block {
    margin-bottom: 50px;
  }
  .feature-image-web-pages-block .feature-image-web-pages {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  main > section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .main-header .navbar-wrapper {
    width: 55%;
  }

  .show-main-menu .main-header .navbar-wrapper {
    left: 30px;
  }

  .blog-item-block.white-box {
    padding: 15px 20px 20px 20px;
  }

  .feature-image-online-store-visits-block .feature-image-iphone-mock-visit-count {
    margin-left: 40%;
  }
  .feature-image-online-store-visits-block .feature-image-graph-online-store-visits {
    bottom: 10%;
    left: 5%;
  }

  .feature-image-analytics-block {
    margin-bottom: 80px;
  }
  .feature-image-analytics-block .feature-image-analytics-screenshot {
    right: -30%;
    width: 96%;
  }

  .feature-image-web-pages-block {
    margin-bottom: 40px;
  }
  .feature-image-web-pages-block .feature-image-web-pages {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .main-header .navbar-wrapper {
    width: 68%;
  }
  .main-header:after {
    width: 80%;
  }

  .buttons-wrapper > .btn {
    margin-bottom: 20px;
  }
  .buttons-wrapper > .btn.last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 414px) {
  .show-main-menu .main-header .navbar-wrapper {
    left: 20px;
  }

  .testimonial-block .author-content .avatar {
    margin-right: 15px;
  }

  .feature-image-online-store-visits-block .feature-image-iphone-mock-visit-count {
    width: 200px;
  }
  .feature-image-online-store-visits-block .feature-image-graph-online-store-visits {
    width: 80%;
  }
  .feature-image-online-store-visits-block .feature-image-dark-rectangle {
    display: none;
  }

  .feature-image-analytics-block {
    margin-top: 20px;
  }

  .feature-image-analytics-block .feature-image-graph-visit-and-sales-count {
    margin-left: 0;
  }
}

/*# sourceMappingURL=stylesheet.css.map */
