.platform {
    margin-top: 50px;
    width: 250px;
    &:not(:first-of-type) {
        margin-right: 10px;
    }
    @include respond-to('xxs') {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:not(:first-of-type) {
            margin-right: 0;
        }
        margin-top: 20px;
    }
}

.platform_theme_simple {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include respond-to('xs') {

    }
}

.platform__icon {
    position: relative;
    height: 40px;
}

.platform__divider {
    height: 2px;
    width: 69px;
    margin: 31px 0 12px;
    @include respond-to('xs') {
        margin: 20px 0 8px;
    }
}

.platform__divider_theme_red {
    background: #b35235;
}

.platform__divider_theme_green {
    background: #a1f1b7;
}

.platform__divider_theme_blue {
    background: #7783ee;
}

.platform__divider_theme_yellow {
    background: #e8ff7d;
}

.platform__header {
    color: #fff;
    font-family: 'Eina01-Bold', sans-serif;
    font-size: 18px;
    line-height: 2.39;
}

.platform__description {
    color: #ffc388;
    font-family: 'AvenirNext-Regular', sans-serif;
    font-size: 15px;
    line-height: 2.33;
    @include respond-to('xxs') {
        font-size: 12px;
    }
}

.platform__description2 {
    color: #7783ee;
    font-family: 'AvenirMedium', sans-serif;
    font-size: 16px;
    line-height: 2.5;
    text-decoration: none;
    @include respond-to('xxs') {
        font-size: 12px;
    }
}

.platform__item {
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    .platform__header {
        position: relative;
        transition: 0.4s;
        margin-top: 10px;
    }
}

.platform__item_active {
    .platform__icon-group {
        padding-left: 40px;
        transition: 0.4s;
        @include respond-to('xs') {
            padding-left: 15px;
        }
        @include respond-to('xxs') {
            padding-left: 40px;
        }
    }
    .platform__header {
        transition: 0.4s;
        color: #7783ee;
    }
    .platform__header::after {
        content: '';
        position: absolute;
        border-top: 5px solid transparent;
        border-left: 8px solid #7783ee;
        border-bottom: 5px solid transparent;
        top: 10px;
        left: auto;
        right: -20px;
    }
}

.platform__icon-group {
    width: 90px;
    height: 90px;
    box-sizing: content-box;
    transition: 0.4s;
}

.platform__icon-group_theme_payment {
    background: url('#{$root_path}/images/icons/groups/payment-back.png') no-repeat 0 0;
    background-size: 60px;
}

.platform__icon-group_theme_customers {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: -10px;
        left: 0;
        background: url('#{$root_path}/images/icons/groups/customers-back.png') no-repeat 0 0;
        background-size: 60px;
    }
}

.platform__icon-group_theme_subscr {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: -20px;
        left: 0;
        background: url('#{$root_path}/images/icons/groups/subscr-back.png') no-repeat 0 0;
        background-size: 76px;
    }
}

.platform__icon-group_theme_reporting {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: -10px;
        left: 0;
        background: url('#{$root_path}/images/icons/groups/reporting-back.png') no-repeat 0 0;
        background-size: 60px;
    }
}

.platformPage-intro{
    padding-bottom: 0;
}


.platform-page-video{
    position: relative;
    margin: 20px auto 0;
    width: 100%;
    max-width: 800px;
    background: url('#{$root_path}/images/notebook.png') no-repeat 0 0;
    background-size: 100% 100%;
    video{
        width: 73%;
        margin: 37px 0 56px;
        @media(max-width: 991px){
            margin: 33px 0 50px;
        }
        @media(max-width: 767px){
            margin: 25px 0 35px;
        }
        @media(max-width: 576px){
            margin: 4% 0 6%;
        }
    }
    .playVideo-button{
        position: absolute;
        top:0;
        left:0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100;
        img{
            cursor: pointer;
            border-radius: 100%;
        }
        @media(max-width: 767px){
            img{
                width: 90px;
            }
        }
        @media(max-width: 576px){
            left: 10%;
            right: 10%;
            img{
                width: 15%;
                margin-top: -6vw;
            }
        }
    }
}