/********************************************************************************************

	Eina01-Bold

********************************************************************************************/
  @font-face {
	font-family: 'Eina01-Bold';
	src: url('../webfonts/eina01-bold.eot');
	src: url('../webfonts/eina01-bold.eot?#iefix') format('embedded-opentype'),
	url('../webfonts/eina01-bold.woff2') format('woff2'),
	url('../webfonts/eina01-bold.woff') format('woff'),
	url('../webfonts/eina01-bold.ttf') format('truetype');
}
/********************************************************************************************

	Poppins
	
********************************************************************************************/
/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../webfonts/poppins-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Poppins Regular'), local('Poppins-Regular'),
       url('../webfonts/poppins-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../webfonts/poppins-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/poppins-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/poppins-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/poppins-v5-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url('../webfonts/poppins-v5-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Poppins Italic'), local('Poppins-Italic'),
       url('../webfonts/poppins-v5-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../webfonts/poppins-v5-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/poppins-v5-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/poppins-v5-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/poppins-v5-latin-italic.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../webfonts/poppins-v5-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
       url('../webfonts/poppins-v5-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../webfonts/poppins-v5-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/poppins-v5-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/poppins-v5-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/poppins-v5-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-600italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  src: url('../webfonts/poppins-v5-latin-600italic.eot'); /* IE9 Compat Modes */
  src: local('Poppins SemiBold Italic'), local('Poppins-SemiBoldItalic'),
       url('../webfonts/poppins-v5-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../webfonts/poppins-v5-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/poppins-v5-latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/poppins-v5-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/poppins-v5-latin-600italic.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../webfonts/poppins-v5-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Poppins Bold'), local('Poppins-Bold'),
       url('../webfonts/poppins-v5-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../webfonts/poppins-v5-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/poppins-v5-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/poppins-v5-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/poppins-v5-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-700italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: url('../webfonts/poppins-v5-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'),
       url('../webfonts/poppins-v5-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../webfonts/poppins-v5-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/poppins-v5-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/poppins-v5-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/poppins-v5-latin-700italic.svg#Poppins') format('svg'); /* Legacy iOS */
}

/********************************************************************************************

	Muli

********************************************************************************************/
/* muli-300 - latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  src: url('../webfonts/muli-v11-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Muli Light'), local('Muli-Light'),
       url('../webfonts/muli-v11-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../webfonts/muli-v11-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/muli-v11-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/muli-v11-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/muli-v11-latin-300.svg#Muli') format('svg'); /* Legacy iOS */
}
/* muli-300italic - latin */
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 300;
  src: url('../webfonts/muli-v11-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Muli Light Italic'), local('Muli-LightItalic'),
       url('../webfonts/muli-v11-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../webfonts/muli-v11-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/muli-v11-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/muli-v11-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/muli-v11-latin-300italic.svg#Muli') format('svg'); /* Legacy iOS */
}
/* muli-regular - latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: url('../webfonts/muli-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Muli Regular'), local('Muli-Regular'),
       url('../webfonts/muli-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../webfonts/muli-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/muli-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/muli-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/muli-v11-latin-regular.svg#Muli') format('svg'); /* Legacy iOS */
}
/* muli-italic - latin */
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 400;
  src: url('../webfonts/muli-v11-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Muli Italic'), local('Muli-Italic'),
       url('../webfonts/muli-v11-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../webfonts/muli-v11-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/muli-v11-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/muli-v11-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/muli-v11-latin-italic.svg#Muli') format('svg'); /* Legacy iOS */
}
/* muli-600 - latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 600;
  src: url('../webfonts/muli-v11-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Muli SemiBold'), local('Muli-SemiBold'),
       url('../webfonts/muli-v11-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../webfonts/muli-v11-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/muli-v11-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/muli-v11-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/muli-v11-latin-600.svg#Muli') format('svg'); /* Legacy iOS */
}
/* muli-600italic - latin */
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 600;
  src: url('../webfonts/muli-v11-latin-600italic.eot'); /* IE9 Compat Modes */
  src: local('Muli SemiBold Italic'), local('Muli-SemiBoldItalic'),
       url('../webfonts/muli-v11-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../webfonts/muli-v11-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/muli-v11-latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/muli-v11-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/muli-v11-latin-600italic.svg#Muli') format('svg'); /* Legacy iOS */
}
/* muli-700 - latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  src: url('../webfonts/muli-v11-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Muli Bold'), local('Muli-Bold'),
       url('../webfonts/muli-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../webfonts/muli-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/muli-v11-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/muli-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/muli-v11-latin-700.svg#Muli') format('svg'); /* Legacy iOS */
}
/* muli-700italic - latin */
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 700;
  src: url('../webfonts/muli-v11-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Muli Bold Italic'), local('Muli-BoldItalic'),
       url('../webfonts/muli-v11-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../webfonts/muli-v11-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/muli-v11-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/muli-v11-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/muli-v11-latin-700italic.svg#Muli') format('svg'); /* Legacy iOS */
}
